*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* padding-top: 10px; */
}
body{
    font-family: 'Roboto', sans-serif;
}

.container-main{
    width: 1200px;
    margin: auto;
}
.heading-h1{
    width: 632px;
    height: 154px;
    left: 148px;
    top: 233px;
    font-family: 'Roboto', sans-serif;
}
.header-main{
    display:flex;
    align-items: center;
    justify-content: center;
}
.header-list{
    display: flex;
    flex-direction: row;
    width: 842px;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    
}
.header-lists-item{
    /* text-emphasis-style: bold; */
    font-weight:700;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}
.header-list a{
    text-decoration: none;
    color: black;
}
.header-apply{
    width: 111px;
    height: 42px;
    border: 2px solid #717cff;
    border-radius: 11px;
    display: flex;
    /* padding: 0px  30px; */
    justify-content: center;
    text-align: center;
    align-items: center;

}
.build{
    color: blue;
}
.apply{
    justify-content: center;
    text-align: center;
}
.hero-image{
    display:inline;
}
.header-apply a{
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
}
.right-site-bar{
    flex-direction: row;
    padding-bottom: 59px;
}
.header-nav-list{
    display: flex;
    align-items: flex-end;
    margin-left: 170px;
}
.first-sec{
    display:flex;
    align-items: flex-end;
}
.right-description{
    width: 400px;
    display: flex;
    flex-direction: column;
    /* margin: 42px; */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 42px;
}
.heading-h1{
    margin-top: 140px;
    width: 632px;
    height: 154px;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 15px;
}
.socials{
    display: flex;
    width: 120px ;
    justify-content: space-between;
}
.apply-online{
    width: 263px;
    height: 64px;
    background-color: #717CFF;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}.apply-online a{
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    margin-right: 34px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;

}
.university{
    /* width: 1440px; */
    align-items: center;
    margin-right: 1;
    padding: 55px 0px 0px 0px;
    background-color: #fafafa;
}
.featured-university{
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    opacity: 0.7;
    margin-bottom: 94px;
}
.univer-item-lists{
    margin-bottom: 112px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pager-dot{
    width: 107px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 59px;
}
.pager{
    background-color: #abaab3;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: none;
}
.first-dot{
    background-color: #717CFF;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.service{
padding: 122px 0px 126px 0px;
background-color: #fff;
}
.service-header{
    font-weight: bold;
    font-size: 37px;
    line-height: 50px;
    text-align: center;
    /* letter-spacing: -0.4625px; */
    color: #373737;
    margin-bottom: 25px;
}
.service-item{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 110px;
}
.aylana{
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
}.service-list-item{
    width: 344px;
    height: 351px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 30px;
    text-decoration: none;
}
.service-list-item a{
    color:#717CFF;    ;
    font-weight:700;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    align-items: flex-end;
    
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.view-more{
    display: flex;
    /* justify-content: center; */

}
.service-list-items{
    margin-bottom: 25px ;
    list-style: none;
}
.header-of-service-item{
    margin-bottom: 9px;
}
.item-subjects{
    width: 344px;
    height: 406px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
    /* padding: 30px; */
    text-decoration: none;
    flex-direction: column;
    list-style-type: none;
}
.item-subject-text{
    /* justify-content: ; */
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    margin: 64px 26px;
}
.news-items-tables{
    display: flex;
    justify-content: space-evenly;
}
.news-section{
    background-color: #fafafa;

}
.news-header{
    text-align: center;
    /* margin-bottom: 102px; */

}
.news-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4;
    /* margin-bottom: 25px; */
    padding-top: 108px;
}
.news-header-par{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 119px;
    /* padding: 100px; */
}
.join-btn{
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 64px;
    background-color: #717CFF;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}
.join-btn a{
    text-decoration: none;
    color: #fff;

    
}
.join-btn-section{
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-left: 470px; */
    padding: 0px 0px 10px;
    margin-left: 470px;
}
.upcoming-header{
    text-align: center;

}
.upcoming-header-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4;
    /* margin-bottom: 25px; */
    /* padding-top: 108px; */
}
.paragrapgh-of-upcoming{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 119px;
}
.upcoming-items-container{
    flex-direction: column;
}
.upcoming-list-ul{
    display: flex;
    justify-content: space-evenly;

}
.upcoming-list-items{
    width: 540px;
    height: 308px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
    text-decoration: none;
    flex-direction: column;
    list-style-type: none;
}
.header-of-list-uopcoming{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.october-heading{
    display: flex;
    margin: 29px;
    gap: 19px;
}
.par-of-list{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.4px;
margin: 0px 27px 26px 31px;
}
.arrow-of-list{
    display: flex;
    gap: 188px;
    margin: 0px 27px 26px 31px;
}
.arrow-of-list a{
    text-decoration: none;
    color: #717CFF;
    font-weight: 700;
}
.item-subjects-disney{
    width: 348px;
    height: 354px;
    background-color: #fafafa;
    /* box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06); */
    border-radius: 15px;
    margin-bottom: 50px;
    /* padding: 30px; */
    text-decoration: none;
    flex-direction: column;
    list-style-type: none;
    /* border: none; */
}
.country-section{
    background-color: #fafafa;
}
.item-subject-text-disney{
    align-items: center;
    font-style: normal;
    margin: 27px 0px 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
}
.paragraph-ofaustralia{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}
.par-of-list-new{
    margin: 0px 27px 26px 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color:#6e6e6e ;
}.testimonals{
    background-color: #FFFFFF ;
}
.pre-footer-main{
    display: flex;
    gap: 392px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.pre-footer{
    background-color: #fafafa;
}
.pre-footer-h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
}
.footer-btn{
    margin-top: 82px;
}
footer{
    background-color: #717CFF;
    display: flex;
}
.footer-right-site{
    flex-direction: column;
    /* justify-content: space-around; */
    padding-top: 64px;
    
}
.logo-footer{
    margin-bottom: 26px;

}
.footer-parag{
    margin-bottom: 58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.eng-tag{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */


    color: #EEEEEE;
}
.ul-of-footer{
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
}
.main-footer-body{
    display: flex;
    justify-content: space-around;
}
.footer-lisst-item-o{
    
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 49px;
color: #EEEEEE;
margin: 70px 86px 80px 0;
}
.bottom{
    margin-top: 236px;
}

.bottom > .social-logos > img{
    fill: #FFFFFF;
    
}